In [1]:
t1 = ()
type(t1)

tuple

In [2]:
t2 = 1
type(t2)

int

In [3]:
t3 = 1,2,3
type(t3)

tuple

In [4]:
t5 = ('a', 'b',('aa','bb'))
print(t5)

('a', 'b', ('aa', 'bb'))

In [5]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
t1 = (1,2,'a','b')
print(t1[2])
print(t1[3])

a
b

In [7]:
print(t1[1:])

(2, 'a', 'b')

In [8]:
dict_ = {}
type(dict_)

dict

In [9]:
dic = {
    'name' : 'pey',
    'phone' : '01012345678',
    'birth' : '1118'
}
print(dic)

{'name': 'pey', 'phone': '01012345678', 'birth': '1118'}

In [10]:
a = ['홍길동']
print(a[0])

홍길동

In [11]:
a = {'name' : '홍길동'}
print(a.get('name'))

홍길동

In [12]:
a = {'a' : [1,2,3]}
print(a)
print(a.get('a'))

{'a': [1, 2, 3]}
[1, 2, 3]

In [13]:
a = {1 : 'a'}
print(a)

a[2] = 'b'
print(a)

a['name'] = '홍길동'
print(a)

a[3] = [1,2,3]
print(a)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': '홍길동'}
{1: 'a', 2: 'b', 'name': '홍길동', 3: [1, 2, 3]}

In [14]:
print(a)
del a[1]
print(a)

{1: 'a', 2: 'b', 'name': '홍길동', 3: [1, 2, 3]}
{2: 'b', 'name': '홍길동', 3: [1, 2, 3]}

In [15]:
grade = {
    'pey':'10',
    'julliet':'99'
}
print(grade)

print(grade['pey'])

{'pey': '10', 'julliet': '99'}
10

In [16]:
a = {1:'a'}
print(a)
a[1] = 'b'
print(a)

{1: 'a'}
{1: 'b'}

In [17]:
a = {
    'name':'key',
    'phone':'01011112222',
    'birth':'1118'
}
print(a)
print(a.keys())
print(type(a.keys()))

{'name': 'key', 'phone': '01011112222', 'birth': '1118'}
dict_keys(['name', 'phone', 'birth'])
<class 'dict_keys'>

In [18]:
for key in a.keys():
    print(key)

name
phone
birth

In [19]:
print(a)
print(a.items())

{'name': 'key', 'phone': '01011112222', 'birth': '1118'}
dict_items([('name', 'key'), ('phone', '01011112222'), ('birth', '1118')])

In [20]:
print(a.clear())
print(a)

None
{}

In [21]:
a = {
    'name':'pey',
    'phonenumber':'01012345678',
    'birth':'1118'
}
print(a)
print(a.get('name'))
print(a.get('aaa'))
print(a.get('aaa', '키가 없다'))

{'name': 'pey', 'phonenumber': '01012345678', 'birth': '1118'}
pey
None
키가 없다

In [22]:
print(a)
print('name' in a)
print('email' in a)

{'name': 'pey', 'phonenumber': '01012345678', 'birth': '1118'}
True
False

In [23]:
s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [24]:
s2 = set('Hello')
print(s2)

{'l', 'o', 'e', 'H'}

In [25]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1,s2)

{1, 2, 3, 4, 5, 6} {4, 5, 6, 7, 8, 9}

In [26]:
print(s1&s2)
print(s1.intersection(s2))
print(s2.intersection(s1))

{4, 5, 6}
{4, 5, 6}
{4, 5, 6}

In [28]:
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
print(s1-s2)
print(s1.difference(s2))

print(s2-s1)
print(type(s2-s1))
print(s2.difference(s1))

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}
<class 'set'>
{8, 9, 7}

In [30]:
s1 = set([1,2,3])
print(s1)
s1.add(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}

In [32]:
print(s1)
s1.update([7,8])
print(s1)

{1, 2, 3, 4, 7, 8}
{1, 2, 3, 4, 7, 8}

In [33]:
s1 = set([1,2,3])
print(s1)
s1.remove(2)
print(s1)

{1, 2, 3}
{1, 3}

In [34]:
a = [1,2,3,4]
print(a)
while(a):
    print(a.pop())

[1, 2, 3, 4]
4
3
2
1

In [35]:
if[] : 
    print('True')
else : 
    print('False')

False

In [36]:
if [1] :
    print('True')
else : 
    print('False')

True

In [ ]:
money = 1

if money:
    print('택시')
else : 
    print('걸어가라')

택시

In [38]:
money = 0

if money:
    print('택시')
else:
    print('걸어가라')

걸어가라

In [39]:
money = 4900
if money >= 4800:
    print('택시')
else:
    print('걸어가라')

택시

In [40]:
pocket = ['paper', 'phone']
card = 1
if 'money' in pocket:
    print('taxi')
elif card:
    print('taxi')
else:
    print('walk')

taxi

In [41]:
treehit=0
while treehit<10:
    treehit = treehit + 1
    print(f'나무를 {treehit}번 찍었습니다.')
    if treehit == 10:
        print('나무가 넘어간다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어간다.

In [44]:
prompt = '''
1. 추가
2. 삭제
3. 목록
4. 종료

숫자입력 :
'''

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. 추가
2. 삭제
3. 목록
4. 종료

숫자입력 :


1. 추가
2. 삭제
3. 목록
4. 종료

숫자입력 :


1. 추가
2. 삭제
3. 목록
4. 종료

숫자입력 :


1. 추가
2. 삭제
3. 목록
4. 종료

숫자입력 :

In [45]:
coffee = 10
money = 300

while money:
    print('coffee')
    coffee = coffee - 1
    print(f'남은 커피 잔수는 {coffee} 입니다.')
    if not coffee:
        print('판매중지')
        break

coffee
남은 커피 잔수는 9 입니다.
coffee
남은 커피 잔수는 8 입니다.
coffee
남은 커피 잔수는 7 입니다.
coffee
남은 커피 잔수는 6 입니다.
coffee
남은 커피 잔수는 5 입니다.
coffee
남은 커피 잔수는 4 입니다.
coffee
남은 커피 잔수는 3 입니다.
coffee
남은 커피 잔수는 2 입니다.
coffee
남은 커피 잔수는 1 입니다.
coffee
남은 커피 잔수는 0 입니다.
판매중지

In [ ]:
coffee = 10

while True:
    money = int(input('돈을 넣으세요'))

    if money == 300:
        print('커피를 준다')
        coffee = coffee - 1
    elif money > 300:
        print(f'거스름돈 {money-300}을 준다')
        coffee = coffee -1