In [1]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
    number = number + 1
    if mark >= 60:
        print(f'{number}번 학생 합격')
    else:
        print(f'{number}번 학생 불합격')

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [2]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:
    number += 1
    if mark < 60: continue
    print(f'{number}번 학생 합격')

1번 학생 합격
3번 학생 합격
5번 학생 합격

In [4]:
nums = range(1,10,2)
for num in nums:
    print(num, end=' ')

1 3 5 7 9

In [5]:
for num in range(1,11):
    print(num, end=' ')

1 2 3 4 5 6 7 8 9 10

In [6]:
marks = [90,25,67,45,80]

for num in range(len(marks)):
    if marks[num] < 60: continue
    print(f'{num+1}번 학생 합격')
else:
    print('반복 종료')

1번 학생 합격
3번 학생 합격
5번 학생 합격
반복 종료

In [7]:
len(marks)

5

In [8]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num * 3)
    
print(result)

[3, 6, 9, 12]

In [9]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [10]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [11]:
def sum_(x,y):
    return x + y

In [12]:
a = 3
b = 4
c = sum_(a,b)
print(c)

7

In [13]:
print(type(c))

<class 'int'>

In [14]:
def sum_(a,b):
    result = a + b
    return result

In [15]:
def say():
    return 'Hi'

In [18]:
def sum(a,b):
    print(f'{a}, {b}의 합은 {a+b}이다')

In [19]:
print(sum_(3,4))

7

In [20]:
def sum_many(*args):
    sum = 0
    for arg in args:
        sum += arg
    return sum

In [21]:
print(sum_many(1,2))
print(sum_many(1,2,4,6))
print(sum_many(1,2,7,3,6,2,3,6,9))

3
13
39

In [22]:
def say_myself(name,old,man=True):
    print(f'나의 이름은 {name}입니다.')
    print(f'나이는 {old}입니다.')
    
    if man:
        print('남자')
    else:
        print('여자')
        
    return None

In [23]:
print(say_myself('홍길동', 500))
print(say_myself('홍길순', 500, False))

나의 이름은 홍길동입니다.
나이는 500입니다.
남자
None
나의 이름은 홍길순입니다.
나이는 500입니다.
여자
None