# 2.17월

#### tuple
- 여러개 저장
- 묶는다
- 값 변경 안된다

1. 튜플 생성

In [1]:
t1 = () # 빈 소괄호로 튜플 생성 가능
type(t1) # type 내장함수 : 타입 확인

tuple

In [4]:
t2 = 1
type(t2)

int

In [ ]:
# 여러개 저장
# return 활용된다 : 묶어서 반환된다. =>
t3 = 1,2,3
type(t3)

tuple

In [ ]:
# 튜플도 리스트다 : 여러개 아무거나 다 저장
t5 = ('a', 'b', ('aa', 'bb'))
print(t5) # 인덱싱, 슬라이싱 가능

('a', 'b', ('aa', 'bb'))

In [10]:
# 값 변경시 오류 발생 확인
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
# 인덱싱(단일값추출), 슬라이싱(여러개값추출), 연산자 : 리스트 있는 기능
t1 = (1,2,'a', 'b')
print(t1[2])
print(t1[3])

a
b

In [12]:
# 1, 2, 'a', 'b' => 2, 'a', 'b' 추출
print(t1[1:])

(2, 'a', 'b')